* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    outline: none;
}

body {
    background-image: linear-gradient(to right top, #182848, #21345b, #2a4070, #334d85, #3d5a9a, #3d5a9a, #3d5a9a, #3d5a9a, #334d85, #2a4070, #21345b, #182848);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input {
    padding: 2px;
    width: 200px;
    height: 38px;
    padding-left: 20px;
    font-size: 18px;
    opacity: 0.8;
    background-color: #ffff;
    border: solid 1px #223963;
    border-radius: 10px;
    margin: 10px;
}

label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 40px 0 2px 0;
}

img {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 60px auto 0 auto;   
}

h1{
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    line-height: 90px;
    margin: 60px 0 24px 0;
}

h2 {
    margin-top: 0px;
}

button {
  background-color: #283f66;
  border-radius: 8px;
  border:solid 2px #25395e ;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 30px auto 0 auto;
  outline: none;
  padding: 8px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,button:focus {
  background-color: #314870;
  font-size: 14px;
  padding: 8px 42px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-conteudo {
    background-color: white;
    margin: 16% auto;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    text-align: center;

}
  
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}
  
.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.loader {
    border: 8px solid #f3f3f3; /* Cor de fundo */
    border-top: 8px solid #182848; /* Cor do topo */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Animação de rotação */
    margin: 20px auto; /* Centraliza o loader */
}

/* Animação do loader */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

